DATABASE_URL="postgresql://usuario:senha@host:5432/sistema_mensalidades"

JWT_SECRET="sua-chave-jwt"

SUPABASE_URL="https://seu-projeto.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sua-service-role-key"
SUPABASE_BUCKET="bucket-para-avatar-admin"
SUPABASE_BUCKET_PLANO="bucket-para-banner-plano"

EMAIL_USER="seu-email@gmail.com"
EMAIL_PASS="sua-senha-ou-app-password"
